@import '../../vars';

.Board {
  $size: 700px;

  align-items: center;
  background-image: radial-gradient(#30a07d, #05844c);
  border: 0.375rem solid #095838;
  border-radius: 50%;
  display: flex;
  height: $size;
  justify-content: center;
  margin: auto;
  position: relative;
  width: $size;
  user-select: none;
}

.Board-communityCards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: ($cardWidth + $cardMargin + 1rem) * 5;
}

.Board-winnerInfo {
  border-radius: 3px;
  color: #222;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 12px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  top: 60%;
  width: auto;
  background: #FFF;
}

.Board-potInfo {
  color: #222;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  text-align: center;
  top: 35%;
}

.Board-dealerMessage {
  border-radius: 3px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 12px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  top: 60%;
  background: #FFF;
}
