@import '../../vars';

.Board {
  align-items: center;
  background-image: radial-gradient(#30a07d, #05844c);
  border: 0.375rem solid #095838;
  border-radius: 50%;
  display: flex;
  height: 700px;
  justify-content: center;
  margin: auto;
  position: relative;
  width: 700px;
}

.Board-communityCards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: ($cardWidth + $cardMargin + 0.45rem) * 5;
}

.Board-winnerInfo {
  border-radius: 3px;
  color: #222;
  display: inline-block;
  font-weight: 300;
  padding: 6px 12px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  top: 60%;
  width: auto;
  background: #FFF;
}

.Board-potInfo {
  color: #222;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
}

//Node sass can't do sin/cos ATM.
//I have commented out the sass
//and I'm just pasting the output from http://www.sassmeister.com/
//instead of ripping my hair out.

// @mixin circle-position($point, $total_points: 9) {
//   $deg: 360 / $total-points;
//   $rad: (($deg * ($point - 1)) - 45) * 3.14 / 180;
//   $x: 0 + 50 * cos($rad);
//   $y: 0 + 50 * sin($rad);
//   top: #{$y + 50 + '%'};
//   left: #{$x + 50 + '%'};
// }

.Player {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);

  // @for $i from 1 through 10 {
  //   &:nth-child(#{$i}) {
  //     @include circle-position($i);
  //   }
  // }
}

.Board-holeCards:nth-child(1) {
  top: 14.65874%;
  left: 85.36941%;
}
.Board-holeCards:nth-child(2) {
  top: 45.64442%;
  left: 99.80993%;
}
.Board-holeCards:nth-child(3) {
  top: 78.66614%;
  left: 90.96648%;
}
.Board-holeCards:nth-child(4) {
  top: 98.28769%;
  left: 62.973%;
}
.Board-holeCards:nth-child(5) {
  top: 95.33687%;
  left: 28.91521%;
}
.Board-holeCards:nth-child(6) {
  top: 71.19304%;
  left: 4.71363%;
}
.Board-holeCards:nth-child(7) {
  top: 37.1424%;
  left: 1.68145%;
}
.Board-holeCards:nth-child(8) {
  top: 9.10212%;
  left: 21.23608%;
}
.Board-holeCards:nth-child(9) {
  top: 0.17981%;
  left: 54.23658%;
}
.Board-holeCards:nth-child(10) {
  top: 14.54626%;
  left: 85.25666%;
}
