//Node sass can't do sin/cos ATM.
//I have commented out the sass
//and I'm just pasting the output from http://www.sassmeister.com/
//instead of ripping my hair out.
//
// @mixin circle-position($point, $total_points: 9) {
//   $deg: 360 / $total-points;
//   $rad: (($deg * ($point - 1)) - 45) * 3.14 / 180;
//   $x: 0 + 50 * cos($rad);
//   $y: 0 + 50 * sin($rad);
//   top: #{$y + 50 + '%'};
//   left: #{$x + 50 + '%'};
// }

.Player {
  position: absolute;
  transform: translate(-50%, -50%);
  //
  // @for $i from 1 through 10 {
  //   &:nth-child(#{$i}) {
  //     @include circle-position($i);
  //   }
  // }
}

.Player-actionButtons {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  > button {
    width: 80px;
  }
  > input {
    width: 100%;
  }
}

.Player-chipsInvested, .Player-debugger {
  // styles for debugging
  font-size: 12px;
  background: white;
  text-align: center;
  padding: 2px;

  strong {
    text-decoration: underline;
    font-weight: bold;
  }
}

$panelHeight: 55; //px

.Player-panel {
  background: rgba(60, 60, 60, 0.95);
  border-radius: 5px;
  border: 1px solid white;
  bottom: 0;
  height: #{$panelHeight}px;
  padding: 5px;
  position: relative;
  width: 160px;
  color: #FFF;
  line-height: 1.45;
  overflow: hidden;
  z-index: 10;

  .is-button &::before {
    $size: 20px;

    background: #FFF;
    border-radius: 50%;
    bottom: 3px;
    content: 'D';
    display: block;
    height: $size;
    left: 50%;
    font-size: 12px;
    color: #444;
    line-height: $size;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: $size;
    z-index: 30;
  }
}

.Player-cards {
  display: flex;
  position: absolute;
  justify-content: center;
  top: -#{$panelHeight / 2}px;
  width: 100%;

  .Hero & {
    top: -#{$panelHeight}px;
  }
}

.Player-name {
  font-size: 12px;
}

.Player-chipCount {
  font-size: 14px;
  font-weight: 300;
}

.has-6-players {
  .Player:nth-child(1) {
    top: 0;
    left: 50%;
  }
  .Player:nth-child(2) {
    top: 100%;
    left: 50%;
  }
  .Player:nth-child(3) {
    top: 80%;
    left: 0;
  }
  .Player:nth-child(4) {
    top: 20%;
    left: 100%;
  }
  .Player:nth-child(5) {
    top: 80%;
    left: 100%;
  }
  .Player:nth-child(6) {
    top: 20%;
    left: 0;
  }
}
