$multiplier: 1.25;

$cardWidth: 2.34rem;
$cardHeight: 3.5rem;
$cardMargin: 0.25rem;
$cardBorder: 0.09375rem;
$communityCardsWidth: ($cardWidth + $cardMargin + $cardBorder + 0.5rem) * 5;


$largeCardWidth: 2.34rem * $multiplier;
$largeCardHeight: 3.5rem * $multiplier;
$largeCardMargin: 0.25rem * $multiplier;
$largeCardBorder: 0.09375rem * $multiplier;
